name: main
on:
  schedule:
    - cron: '*/5 * * * *'
  
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup PHP with PECL extension
        uses: shivammathur/setup-php@v2
        with:
           php-version: '8.1'

      - name: run
        run: php example.php > price.json

      - name: commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git commit -m "update price" -a || :
          git push main
